<!DOCTYPE html>
<html ng-app="tmApp">
	<head>
		<meta charset="utf-8">
        <title>TM|Create New User</title>
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script src="js/app/app.js"></script>
        <script src="js/app/users/UserController.js"></script>
        <script src="js/app/users/UserService.js"></script>
        <link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/app/app.css"/>
        <link rel="import" href="pages/css-list.html">
        <link rel="import" href="pages/js-list.html">
	</head>
	<body class="">
		<header id="header">
            <div id="logo-group">
                <span id="logo"> <img src="pages/static/img/logo.png" alt="SmartAdmin"> </span>
                <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>
				<div class="ajax-dropdown">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="activity" id="pages/static/ajax/notify/mail.html">
							Msgs (14) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="pages/static/ajax/notify/notifications.html">
							notify (3) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="pages/static/ajax/notify/tasks.html">
							Tasks (4) </label>
					</div>
					<div class="ajax-notifications custom-scroll">
						<div class="alert alert-transparent">
							<h4>Click a button to show messages here</h4>
							This blank page message helps protect your privacy, or you can show the first message here automatically.
						</div>
						<i class="fa fa-lock fa-4x fa-border"></i>
					</div>
					<span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>
				</div>
			</div>
			<div class="project-context hidden-xs">
				<span class="label">Projects:</span>
				<span class="project-selector dropdown-toggle" data-toggle="dropdown">Recent projects <i class="fa fa-angle-down"></i></span>
				<ul class="dropdown-menu">
					<li>
						<a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>
					</li>
					<li>
						<a href="javascript:void(0);">Notes on pipeline upgradee</a>
					</li>
					<li>
						<a href="javascript:void(0);">Assesment Report for merchant account</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
					</li>
				</ul>
			</div>
			<div class="pull-right">
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
					<li class="">
						<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown"> 
							<img src="pages/static/img/avatars/sunny.png" alt="John Doe" class="online" />  
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
							</li>
						</ul>
					</li>
				</ul>
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="login.html" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<form action="static/search.html" class="header-search pull-right">
					<input id="search-fld"  type="text" name="param" placeholder="Find reports and more" data-autocomplete='[
					"ActionScript",
					"AppleScript",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"]'>
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
					<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
				</form>
				<div id="fullscreen" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
				</div>
				<div id="speech-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
					<div> 
						<a href="javascript:void(0)" title="Voice Command" data-action="voiceCommand"><i class="fa fa-microphone"></i></a> 
						<div class="popover bottom"><div class="arrow"></div>
							<div class="popover-content">
								<h4 class="vc-title">Voice command activated <br><small>Please speak clearly into the mic</small></h4>
								<h4 class="vc-title-error text-center">
									<i class="fa fa-microphone-slash"></i> Voice command failed
									<br><small class="txt-color-red">Must <strong>"Allow"</strong> Microphone</small>
									<br><small class="txt-color-red">Must have <strong>Internet Connection</strong></small>
								</h4>
								<a href="javascript:void(0);" class="btn btn-success" onclick="commands.help()">See Commands</a> 
								<a href="javascript:void(0);" class="btn bg-color-purple txt-color-white" onclick="$('#speech-btn .popover').fadeOut(50);">Close Popup</a> 
							</div>
						</div>
					</div>
				</div>
				<ul class="header-dropdown-list hidden-xs">
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="pages/static/img/blank.gif" class="flag flag-us" alt="United States"> <span> English (US) </span> <i class="fa fa-angle-down"></i> </a>
						<ul class="dropdown-menu pull-right">
							<li class="active">
								<a href="javascript:void(0);"><img src="pages/static/img/blank.gif" class="flag flag-us" alt="United States"> English (US)</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="pages/static/img/blank.gif" class="flag flag-fr" alt="France"> Français</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="pages/static/img/blank.gif" class="flag flag-es" alt="Spanish"> Español</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="pages/static/img/blank.gif" class="flag flag-de" alt="German"> Deutsch</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="pages/static/img/blank.gif" class="flag flag-jp" alt="Japan"> 日本語</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="pages/static/img/blank.gif" class="flag flag-cn" alt="China"> 中文</a>
							</li>	
							<li>
								<a href="javascript:void(0);"><img src="pages/static/img/blank.gif" class="flag flag-it" alt="Italy"> Italiano</a>
							</li>	
							<li>
								<a href="javascript:void(0);"><img src="pages/static/img/blank.gif" class="flag flag-pt" alt="Portugal"> Portugal</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="pages/static/img/blank.gif" class="flag flag-ru" alt="Russia"> Русский язык</a>
							</li>
							<li>
								<a href="javascript:void(0);"><img src="pages/static/img/blank.gif" class="flag flag-kr" alt="Korea"> 한국어</a>
							</li>						
						</ul>
					</li>
				</ul>
            </div>
		</header>
		<aside id="left-panel">
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<img src="pages/static/img/avatars/sunny.png" alt="me" class="online" /> 
						<span>
							john.doe 
						</span>
						<i class="fa fa-angle-down"></i>
					</a> 
				</span>
			</div>
			<nav>
				<ul>
                    <li>
                        <a href="dashboard.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Tasks</span></a>
                        <ul>
                            <li>
                                <a href="/createTask">Create Task</a>
                            </li>
                            <li>
                                <a href="taskMgmt.html">Manage Tasks</a>
                            </li>
                            <li>
                                <a href="viewTasks.html">View All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">User Management</span></a>
                        <ul>
                            <li class="active">
                                <a href="/createNewUser" class="active">Create New User</a>
                            </li>
                            <li>
                                <a href="/manageUsers">Manage Users</a>
                            </li>
                            <li>
                                <a href="changePassword.html">Change Password</a>
                            </li>
                        </ul>
                    </li>
                </ul>
			</nav>
			<span class="minifyme" data-action="minifyMenu"> 
				<i class="fa fa-arrow-circle-left hit"></i> 
			</span>
		</aside>
		<div id="main" role="main">
			<div id="ribbon">
				<span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span> 
				</span>
				<ol class="breadcrumb">
					<li>Home</li><li>User Management</li><li>Create New User</li>
				</ol>
			</div>
			<div id="content">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark"><i class="fa fa-pencil-square-o fa-fw "></i> User Management <span>
							Create New User </span></h1>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						<ul id="sparks" class="">
							<li class="sparks-info">
								<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
							</li>
							<li class="sparks-info">
								<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
							</li>
							<li class="sparks-info">
								<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
							</li>
						</ul>
					</div>
				</div>
				<section id="widget-grid" class="">
					<div class="row">
						<article class="col-sm-12 col-md-12 col-lg-12">
							<div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false">
								<header>
									<h2><i class="fa fa-user"></i> Create New User </h2>
								</header>
								<div>
									<div class="jarviswidget-editbox">
									</div>
									<div class="widget-body fuelux">
										<div class="wizard">
											<ul class="steps">
												<li data-target="#step1" class="active">
													<span class="badge badge-info">1</span>User info<span class="chevron"></span>
												</li>
												<li data-target="#step2">
													<span class="badge">2</span>Account<span class="chevron"></span>
												</li>
												<li data-target="#step3">
													<span class="badge">3</span>Access<span class="chevron"></span>
												</li>
												<li data-target="#step4">
													<span class="badge">4</span>Verify<span class="chevron"></span>
												</li>
												<li data-target="#step5">
													<span class="badge">5</span>Finish<span class="chevron"></span>
												</li>
											</ul>
											<div class="actions">
												<button type="button" class="btn btn-sm btn-primary btn-prev">
													<i class="fa fa-arrow-left"></i>Prev
												</button>
												<button type="button" class="btn btn-sm btn-success btn-next" data-last="Create New User">
													Next<i class="fa fa-arrow-right"></i>
												</button>
											</div>
										</div>
										<div class="step-content" ng-controller="UserController">
											<form class="form-horizontal" id="fuelux-wizard" ng-submit="saveUser();" method="POST">
												<div class="step-pane active" id="step1">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <h3><strong>Step 1 </strong> - User Information</h3>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn btn-warning pull-right" style="margin-top: 12%;" ng-click="infoReset();"><i class="fa fa-refresh"></i> Reset </button>
                                                        </div>
                                                    </div>
                                                    
													<fieldset>
														<div class="form-group">
                                                            <div class="col-md-4">
                                                                <div class="input-group">
																	<input class="form-control" type="text" ng-model="user.firstName" name="firstName" id="firstName" placeholder="First Name" rel="tooltip" data-placement="top" data-original-title="Enter First Name" required>
																	<span class="input-group-addon"><i class="fa fa-user"></i></span>
																</div>
                                                            </div>
															<div class="col-md-4">
																<div class="input-group">
																	<input class="form-control" type="text" ng-model="user.middleName" name="middleName" id="middleName" placeholder="Middle Name" rel="tooltip" data-placement="top" data-original-title="Enter Middle Name">
																	<span class="input-group-addon"><i class="fa fa-user"></i></span>
																</div>
                                                            </div>
                                                            <div class="col-md-4">
																<div class="input-group">
																	<input class="form-control" type="text" ng-model="user.lastName" name="lastName" id="lastName" placeholder="Last Name" rel="tooltip" data-placement="top" data-original-title="Enter Last Name" required>
																	<span class="input-group-addon"><i class="fa fa-user"></i></span>
																</div>
															</div>
														</div>
														<div class="form-group">
															<div class="col-md-4">
                                                                <div class="input-group">
                                                                    <input class="form-control" type="text" ng-model="user.dateOfBirth" name="dateOfBirth" id="dateOfBirth" placeholder="Date of Birth" rel="tooltip" data-placement="top" data-original-title="Select Date Of Birth" required>
                                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                </div>
                                                            </div>
															<div class="col-sm-4">
                                                                <div class="input-group">
                                                                    <select class="form-control" name="gender" rel="tooltip" data-placement="top" data-original-title="Select Gender" ng-model="user.gender" required>
                                                                        <option value="" selected="" disabled="">Select Gender</option>
                                                                        <option>Male</option>
                                                                        <option>Female</option>
                                                                        <option>Other</option>
                                                                    </select>
                                                                    <span class="input-group-addon"><i class="fa fa-child"></i></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
																<div class="input-group">
																	<input class="form-control" type="email" ng-model="user.email" name="email" id="email" placeholder="Email Id" rel="tooltip" data-placement="top" data-original-title="Enter E-mail ID">
																	<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
																</div>
															</div>
														</div>
														<div class="form-group">
															<div class="col-md-4">
                                                                <div class="input-group">
																	<input class="form-control" type="text" ng-model="user.company" name="companyName" id="companyName" placeholder="Company Name" rel="tooltip" data-placement="top" data-original-title="Enter Company Name" required>
																	<span class="input-group-addon"><i class="fa fa-building"></i></span>
																</div>
                                                            </div>
															<div class="col-sm-3">
                                                                    <div class="input-group">																			
                                                                        <select name="country" class="form-control" rel="tooltip" ng-model="user.country" data-placement="top" data-original-title="Select Country" required>
                                                                            <option value="" selected="selected" disabled>Select Country</option>
                                                                            <option value="United States">United States</option>
                                                                            <option value="United Kingdom">United Kingdom</option>
                                                                        </select>
                                                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-md-3">
																<div class="input-group">
																	<select name="city" class="form-control" ng-model="user.city" rel="tooltip" data-placement="top" data-original-title="Select City">
                                                                            <option value="" selected="selected" disabled="">Select City</option>
                                                                            <option value="United States">Bangalore</option>
                                                                            <option value="United Kingdom">Delhi</option>
                                                                    </select>
                                                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
																</div>
                                                            </div>
                                                            <div class="col-md-2">
																<div class="input-group">
																	<input class="form-control" type="text" name="pinCode" ng-model="user.pinCode" id="pinCode" placeholder="Pin Code" data-mask="99-99-99" rel="tooltip" data-placement="top" data-original-title="Enter Pin Code" required>
                                                                    <span class="input-group-addon"><i class="fa fa-envelope-square"></i></span>
																</div>
															</div>
														</div>
                                                    </fieldset>
												</div>
												<div class="step-pane" id="step2">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <h3><strong>Step 2 </strong> - Credential</h3>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn btn-warning pull-right" style="margin-top: 12%;" ng-click="credentialReset();"><i class="fa fa-refresh"></i> Reset </button>
                                                        </div>
                                                    </div>
													<fieldset>
                                                        <div class="form-group"> 
															<div class="col-md-4">
																<div class="input-group">
																	<input class="form-control" type="text" ng-model="user.username" name="username" id="username" placeholder="Username" rel="tooltip" data-placement="top" data-original-title="Enter Username" required>
																	<span class="input-group-addon"><i class="fa fa-user"></i></span>
																</div>
                                                            </div>
                                                            <div class="col-md-4">
																<div class="input-group">
																	<input class="form-control" type="text" ng-model="user.password" name="password" id="password" placeholder="Password" rel="tooltip" data-placement="top" data-original-title="Enter Password" required>
																	<span class="input-group-addon"><i class="fa fa-key"></i></span>
																</div>
                                                            </div>
                                                            <div class="col-md-4">
																<div class="input-group">
																	<input class="form-control" type="text" ng-model="user.confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" rel="tooltip" data-placement="top" data-original-title="Enter Confirm Password" required>
																	<span class="input-group-addon"><i class="fa fa-key"></i></span>
																</div>
															</div>
														</div>
                                                    </fieldset>
												</div>
												<div class="step-pane" id="step3">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <h3><strong>Step 3 </strong> - Access level</h3>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn btn-warning pull-right" style="margin-top: 12%;" ng-click="accessLevelReset();"><i class="fa fa-refresh"></i> Reset </button>
                                                        </div>
                                                    </div>
													<fieldset>
                                                        <div class="form-group">  
                                                            <div class="col-md-4">

                                                            </div>                                                          
                                                            <div class="col-md-4">
                                                                <div class="input-group">
																	<select name="accessCodes" class="form-control" ng-model="user.accessCodes" rel="tooltip" data-placement="top" data-original-title="Select Access Level" required>
                                                                            <option value="" selected="selected" disabled="">Select Access Level</option>
                                                                            <option value="superuser">Superuser</option>
                                                                            <option value="administrator">Administrator</option>
                                                                            <option value="supervisor">Supervisor</option>
                                                                            <option value="manager">Manager</option>
                                                                            <option value="lead">Lead</option>
                                                                            <option value="employee">Employee</option>
                                                                    </select>
                                                                    <span class="input-group-addon"><i class="fa fa-tags"></i></span>
																</div>
                                                            </div>
															<div class="col-md-4"></div>
														</div>
                                                    </fieldset>
												</div>
												<div class="step-pane" id="step4">
                                                    <h3><strong>Step 3 </strong> - Verify User Details</h3>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <i class="fa fa-user"></i> User Name: 
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <span class="txt-color-darken">My Full Name</span>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <i class="fa fa-user"></i> Date of Birth: 
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <span class="txt-color-darken">26/09/1991</span>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <i class="fa fa-user"></i>Gender: 
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <span class="txt-color-darken">Female</span>
                                                        </div>
                                                        <hr>
                                                        <div class="col-sm-1">
                                                            <i class="fa fa-user"></i> Email ID: 
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <a href="mailto:simmons@smartadmin">ceo@smartadmin.com</a>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <i class="fa fa-user"></i> Phone No: 
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <span class="txt-color-darken">xxxxxxxxxx</span>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <i class="fa fa-building"></i>Company: 
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <span class="txt-color-darken">ABC Pvt Ltd</span>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
												<div class="step-pane" id="step5">
													<h3><strong>Step 5 </strong> - Finished!</h3>
													<h1 class="text-center text-success"><i class="fa fa-check"></i> All set!
													<br>
                                                    <small>Click above <strong>Create new user</strong> to create new user</small> <br><br></h1>    
													<br>
												</div>
                                            </form>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</section>
			</div>
		</div>
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">SmartAdmin 1.5 <span class="hidden-xs"> - Web Application Framework</span> © 2014-2015</span>
				</div>
				<div class="col-xs-6 col-sm-6 text-right hidden-xs">
					<div class="txt-color-white inline-block">
						<i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> <strong>52 mins ago &nbsp;</strong> </i>
						<div class="btn-group dropup">
							<button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
								<i class="fa fa-link"></i> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right text-left">
								<li>
									<div class="padding-5">
										<p class="txt-color-darken font-sm no-margin">Download Progress</p>
										<div class="progress progress-micro no-margin">
											<div class="progress-bar progress-bar-success" style="width: 50%;"></div>
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="padding-5">
										<p class="txt-color-darken font-sm no-margin">Server Load</p>
										<div class="progress progress-micro no-margin">
											<div class="progress-bar progress-bar-success" style="width: 20%;"></div>
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="padding-5">
										<p class="txt-color-darken font-sm no-margin">Memory Load <span class="text-danger">*critical*</span></p>
										<div class="progress progress-micro no-margin">
											<div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="padding-5">
										<button class="btn btn-block btn-default">refresh</button>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="shortcut">
			<ul>
				<li>
					<a href="inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
				</li>
				<li>
					<a href="calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
				</li>
				<li>
					<a href="gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
				</li>
				<li>
					<a href="invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
				</li>
				<li>
					<a href="gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
				</li>
				<li>
					<a href="profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
				</li>
			</ul>
        </div>
        
		<script type="text/javascript">
		$(document).ready(function() {
			pageSetUp();
			  var $validator = $("#wizard-1").validate({			   
			    messages: {
			      firstName: "Please specify your First name",
			      lastName: "Please specify your Last name",
			      email: {
			        required: "We need your email address to contact you",
			        email: "Your email address must be in the format of name@domain.com"
			      }
			    },
			    highlight: function (element) {
			      $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
			    },
			    unhighlight: function (element) {
			      $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
			    },
			    errorElement: 'span',
			    errorClass: 'help-block',
			    errorPlacement: function (error, element) {
			      if (element.parent('.input-group').length) {
			        error.insertAfter(element.parent());
			      } else {
			        error.insertAfter(element);
			      }
			    }
			  });
			  
			  $('#bootstrap-wizard-1').bootstrapWizard({
			    'tabClass': 'form-wizard',
			    'onNext': function (tab, navigation, index) {
			      var $valid = $("#wizard-1").valid();
			      if (!$valid) {
			        $validator.focusInvalid();
			        return false;
			      } else {
			        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
			          'complete');
			        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
			        .html('<i class="fa fa-check"></i>');
			      }
			    }
			  });
			// fuelux wizard
			  
              
            // START AND FINISH DATE
            $('#dateOfBirth').datepicker({
                dateFormat : 'dd/mm/yy',
                prevText : '<i class="fa fa-chevron-left"></i>',
                nextText : '<i class="fa fa-chevron-right"></i>',
                onSelect : function(selectedDate) {
                    $('#dateOfBirth').datepicker('option', 'minDate', selectedDate);
                }
            });


		})
		</script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
				_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>